<% layout('layouts/boilerplate') %> 

<div class="card col-8 offset-2">
    <div class="card-body">
        <h5 class="card-title">YelpCamp</h5>
        <h6 class="card-subtitle mb-2 text-muted">Home Page</h6>
        <p class="card-text">Welcome to YelpCamp! This is a mock opening page</p>
    </div>
</div>
