<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/home.css">


<div class='light-text home-container'>
    <h4 class="card-title text-center mb-2">YelpCamp</h4>
    <p class="card-text text-center">Welcome to YelpCamp! This is a mock opening page</p>
    <p class="card-text text-center">
        <a href="/campgrounds" class="btn btn-light">View Campgrounds</a>
    </p>
</div>

